.add-to-cart{
    background-color: #5ECE7B;
    color:white;
    font-size:16px;
    border-style:none;
    width:282px;
    height:45px;
    cursor:pointer;
}

.add-to-cart:hover{
    opacity:0.61234798 ;
}

.add-to-cart-disabled{
    background-color: #2420209a;
    color:white;
    cursor:not-allowed;
    font-size:16px;
    border-style:none;
    width:282px;
    height:45px;
}