
.items-left{
    display:flex;
    flex-direction: column;
    max-width: fit-content;
    margin-right:30px;
}

.item-left{
    padding:1px;
    margin-bottom:5px;
    margin-right:5px;
}

.item-left:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.item-main{
    padding:5px;
    margin-left:25px;
}

.items-container {
    display:flex;
    width:65%;
    justify-content: space-between;
}

.details {
    width: 20%;
}

@media screen and (max-width: 1101px) {
    .items-container {
        width: 60%;
    }
    .item-main {
        width: 100%;
    }
    .pdp-img {
        width: 100%;
        height: auto;
    }
   }

@media screen and (max-width: 828px) {
    .items-container {
        width: 100%;
        flex-direction: column;
    }
    .details {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .item-name {
        margin-bottom: 2px !important;
    }

    .pdp-img {
        width: 90%;
    }

    .item-main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        padding: 0px;
    }

    .items-left {
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 0px;
    }
    
    .item-left {
        margin-right: 0px;
    }
   }


@media screen and (max-width: 665px) {
    .items-container {
        width: 100%;
    }
    .details {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .item-name {
        margin-bottom: 2px !important;
    }

    .cart-item {
        z-index: 1000;
        display: block;
    }
   }