.btnn-sizetest button{
    border-style:none;
    width:63px;
    height:45px;
    margin-right:10px;
    border:1px solid #1D1F22;
    background-color: transparent;
}

.size-test-content{
    font-family:Roboto,sans-serif;
    font-weight:bold;
    font-size:18px;
    margin-top:10px;
}

.size-btns {
    margin-bottom: 10px;
}