.title {
  color: #1d1f22;
  font-style: normal;
  font-size: 42px;
  line-height: 160%;
  font-family: "Raleway";
}

.filter-reset-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 0px;
  width: 10rem;
  transform: translateY(-5px);
}

.filter-reset-button:hover {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.filter-container {
  padding: 1.2rem 0;
  border-bottom: 2px solid #008000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter-item {
  width: 10rem;
  margin-right: 5px;
  margin-bottom: 10px;
}