figure {
  margin: 0px;
}

.outStock {
  filter: blur(3px);
}
.textover {
  position: relative;
}

.textover figcaption {
  position: absolute;
  bottom: 148px;
  left: 90px;
  top: 146px;
  font-size: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  color: #8d8f9a;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-clothes {
  display: flex;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  width: 386px;
  height: 370px;
  margin: 0px 90px 15px 0px;
  /* padding: 16px 0px 25px 0px; */
  padding: 2px 0px 25px 0px;
}

.product-clothes:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.content-clothes {
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  width: 354px;
  height: 38px;
}

.circle-icon img {
  width: 52px;
  height: 52px;
  position: absolute;
  transform: translate(125px, -23px);
  display: none;
  z-index: 1;
}

.circle-icon img:hover {
  cursor: pointer;
}

.product-clothes:hover .circle-icon img {
  display: block;
}
