.cart-overlay-background{
    background-color:  rgba(57, 55, 72, 0.22);
    position:absolute;
    z-index:2;
    height:1400px;
    width:100%;
    margin-top:100px;
    transform:translateX(-9px)
}

